// Colors
$white: #ffffff;
$black: #000000;
$cannonBlack: #291507;
$calico: #dec68b;
$cioccolato: #4d270c;
$westar: #e3e1dc;
$kabul: #544439;
$dustryGray: #979797;
$alto: #e0e0e0;

// Font
$font: 'Montserrat', sans-serif;
